@model IEnumerable<Producer>

@{
    string currentModel = Helper.GetTypeName(Model.GetType().ToString());

    ViewData["Title"] = @currentModel + " - Index";
    SortModel sortModel = (SortModel)ViewData["sortModel"];
    PagerModel pagerModel = ViewBag.Pager;
}

<div class="container-fluid btn-group">
    <div class="col-10">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="col-2 justify-content-end">
        <p >
            <a asp-action="Create" class="btn btn-success" style="border-radius:10px;background-color:#87CEFA;border-color: black;color:black;">Create New</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <partial name="Partial/PartialPageBars/_topBar" model="pagerModel" />
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <i class="@sortModel.GetColumn("firstName").SortIcon" arial-hidden="true"></i>
                <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("firstName").SortExpression" asp-route-currentPage="@TempData.Peek("CurrentPage")" asp-route-pageSize="@TempData.Peek("PageSize")" asp-route-searchText="@TempData.Peek("SearchText")" style="color:black;text-decoration: none;">
                    @Html.DisplayNameFor(model => model.FirstName)
                </a>
            </th>
            <th>
                <i class="@sortModel.GetColumn("lastName").SortIcon" arial-hidden="true"></i>
                <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("lastName").SortExpression" asp-route-currentPage="@TempData.Peek("CurrentPage")" asp-route-pageSize="@TempData.Peek("PageSize")" asp-route-searchText="@TempData.Peek("SearchText")" style="color:black;text-decoration: none;">
                    @Html.DisplayNameFor(model => model.LastName)
                </a>
            </th>
            <th>
                <i class="@sortModel.GetColumn("birthDate").SortIcon" arial-hidden="true"></i>
                <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("birthDate").SortExpression" asp-route-currentPage="@TempData.Peek("CurrentPage")" asp-route-pageSize="@TempData.Peek("PageSize")" asp-route-searchText="@TempData.Peek("SearchText")" style="color:black;text-decoration: none;">
                    @Html.DisplayNameFor(model => model.BirthDate)
                </a>
            </th>
            <th>
                <i class="@sortModel.GetColumn("country").SortIcon" arial-hidden="true"></i>
                <a asp-action="Index" asp-route-sortExpression="@sortModel.GetColumn("country").SortExpression" asp-route-currentPage="@TempData.Peek("CurrentPage")" asp-route-pageSize="@TempData.Peek("PageSize")" asp-route-searchText="@TempData.Peek("SearchText")" style="color:black;text-decoration: none;">
                    @Html.DisplayNameFor(model => model.Country!.Name)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country!.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <span class="btn btn-sm btn-outline-primary">
                            <i class="bi bi-pencil" aria-hidden="true"></i>
                        </span>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <span class="btn btn-sm btn-outline-dark">
                            <i class="bi bi-circle" aria-hidden="true"></i>
                        </span>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <span class="btn btn-sm btn-outline-danger">
                            <i class="bi bi-x-lg" aria-hidden="true"></i>
                        </span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="row">
    <div class="col-12">
        <partial name="Partial/PartialPageBars/_bottomBar" model="pagerModel" />
    </div>
</div>