@model IEnumerable<Movie>


@{
    string currentModel = Helper.GetTypeName(Model.GetType().ToString());

    ViewData["Title"] = @currentModel + " - Index";
    SortModel sortModel = (SortModel)ViewData["sortModel"];
    PagerModel pagerModel = ViewBag.Pager;
}


<div class="row">
    <div class="col-12">
        <partial name="Partial/PartialPageBars/_topBar" model="pagerModel" />
    </div>
</div>

@if (Model.Any())
{
    
    @foreach (var movie in Model)
    {



        <div class="card border-secondary mb-3 shadow-lg" style="max-width: 50rem;">

            <div class="card-header bg-secondary bg-opacity-25 border-secondary">
                <a class="text-black" href="#" style="text-decoration:none;">
                    <h5 class="card-title">@movie.Name (@movie.ReleaseYear.Year)</h5>
                </a>
            </div>

            <div class="card-body text-secondary bg-secondary bg-opacity-10">
                <div class="row">

                    <div class="col-4">
                       @*  <a href="#">
                            <img src="https://www.ixbt.com/img/n1/news/2023/3/3/4_large.png" width="250" height="250" class="img-fluid" alt="...">
                        </a> *@
                        <a class="#">
                            @if (movie.PhotoUrl == "noimage.png")
                            {
                                <img src="~/images/@movie.PhotoUrl" width="250" height="250" class="img-fluid" alt="..." />
                            }
                            else
                            {
                                <img src="~/images/photos/@currentModel.ToLower()/@movie.PhotoUrl" width="250" height="250" class="img-fluid" alt="..." />
                            }
                        </a>
                    </div>

                    <div class="col-5">
                        <div>
                            <label class="form-label">Год выпуска:</label>
                            <label class="form-label"><strong>@movie.ReleaseYear.Year</strong></label>
                        </div>
                        <div>
                            <label class="form-label">Страна:</label>
                            <label class="form-label"><strong>@movie.Country?.Name</strong></label>
                        </div>
                        <div>
                            <label class="form-label">Жанр:</label>
                            @if (movie.Genres.Any())
                            {
                                @foreach (var genre in movie.Genres)
                                {
                                    <label class="form-label"><strong>@genre.Name</strong></label>
                                }
                            }                                                  
                        </div>
                        <div>
                            <label class="form-label">Продолжительность:</label>
                            <label class="form-label"><strong>@movie.FilmDuration</strong></label>
                        </div>
                        <div>
                            <label class="form-label">Режиссёр:</label>
                            <label class="form-label"><strong>@movie.CurrentProducer?.LastName</strong></label>
                        </div>
                        <div>
                            <label class="form-label">Актёры:</label>
                            @if (movie.Actors.Any())
                            {
                                @foreach (var actor in movie.Actors)
                                {
                                    <label class="form-label"><strong>@actor.LastName</strong></label>
                                }
                            }
                        </div>
                        <div>
                            <label class="form-label h6"><small>Часть фильма:</small></label>
                            <label class="form-label h6"><strong><small>@movie.PartFilm</small></strong></label>
                        </div>
                    </div>

                    <div class="col-3">

                        <p>
                            <button class="btn btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#desc-@movie.Id" aria-expanded="false" aria-controls="collapseWidthExample">
                                Описание фильма
                            </button>
                        </p>


                    </div>

                </div>

                <div>
                    <div class="collapse" id="desc-@movie.Id">
                        <div class="card card-body">
                            @movie.Description
                        </div>
                    </div>
                </div>

            </div>

            <div class="card-footer bg-secondary bg-opacity-25 border-secondary">
                <div class="row">
                    <p class="col-2 bg-">Рейтинг :</p>
                    <p class="col-2 px-0">@movie.Rating</p>
                </div>
            </div>
        </div>


    }

}


<div class="row">
    <div class="col-12">
        <partial name="Partial/PartialPageBars/_bottomBar" model="pagerModel" />
    </div>
</div>